.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4% 8% ;
}
.search-button, .posts {
  flex-basis: 50%; /* כל אלמנט יתפוס 50% מהרוחב במסך מחשב */
  margin: 10px;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .search-button, .posts {
    flex: none; /* יתפוס את כל הרוחב */
    width: 100%;
  }
}
.tablehover{
  cursor: pointer; /* שינוי הסמן */
}
.tablehover:hover{
  color: #3498db;
  
}
.table{
  margin-top: 2%;
  height: 230px;
  border-collapse: separate;
  border-spacing: 12px; /* הרווח בין התאים */
  border: 1px solid #3498db;; /* עובי הגבול */
  border-radius: 10px; /* התעגלות על גבולות הטבלה */
}
.search-button {
  display: flex;
  flex-direction: column;
}
.posts{
  margin:10% 5%;
  height: 370px;
}
.inputText{
  width: 55%;
  border-color:#1976d2; ;
}
.loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  margin: 75%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success{
  background-color: rgb(62, 169, 83);
  
}
.loader-container{
  display: flex;
  flex-direction: column;
  margin: 50%;
}
.all-post{
  max-height: 250px; /* או כל גובה אחר שתרצה */
  overflow: auto; 
}
.createpost{
  margin: 43px;
}
